ul,
li {
  list-style-type: none;
}

a {
  color: rgb(9, 15, 13);
  text-decoration: none;
}

.link-page {
  font-weight: 900;
  width: 50px;
  height: 30px;
  font-size: 20px;
  color: #2e2f42;
  padding: 10px;
  display: inline-block;
}
.link-page:hover {
  color: #254acd;
  transition-duration: 500ms;
  transform: scale(1.3);
}
